<br><br><div class="card-group" >
    <div class="card">
      <img src="./assets/images/bg.jpeg" class="card-img-top" id="img"  alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">You can search for github users and look at their profiles.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/images/bg1.jpeg" class="card-img-top" id="img"   alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">You can look at the public repositories of GitHub users.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/images/hd.jpeg" class="card-img-top" id="img"  alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">You can also access profiles and repositories of users in their official github pages.</p>
      </div>
    </div>
  </div>